.bg {
    position: absolute;
}

.bg-color {
    --_color-top: var(--dark-blue);
    --_color-medium: var(--deep-blue);
    --_color-bottom: var(--deep-blue);  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-image: linear-gradient(180deg, var(--_color-top) 10%, var(--_color-medium) 60%, 
                                        var(--_color-bottom));
    z-index: -200;
    //***This option was not viable because GSAP does not animate
    //***background-position, but it does animate custom variables
    // background-size: 100% 300%;
    // background-position: top;
    // transition: background-position 1000ms ease-in-out;
}

#stars-bg {
    position: fixed;
    inset: 1rem;
    z-index: -100;
}

#stars2-bg {
    top: -5vh;
    scale: 0.5;
    opacity: 0;
    transform: rotate(180);
    z-index: -100;
}

#moon {
    position: fixed;
    height: 40vh;
    top: 20vh;
    right: 25%;
    z-index: -90;
}

#moon2 {
    height: 40vh;
    transform: scale(2.5);
    top: -35vh;
    right: -40%;
    z-index: -90;
}

#night-big-mountain {
    transform-origin: top;
    top: 2vh;
    left: 17%;
    z-index: -80;
}

#night-small-mountain {
    transform-origin: top;
    height: 45vh;
    top: 30%;
    right: 58vw;
    z-index: -50;
}

#night-sakura {
    height: 15rem;
    top: 60vh;
    right: -2rem;
    z-index: -50;
}

#night-lake {
    width: 100vw;
    left: 0;
    top: 65vh;
    z-index: -60;
    
}

#top-stars {
    top: 0;
    left: 0;
    right: 0;  
    opacity: 0;
    z-index: -100;  
}

#sun {
    top: 70vh;
    right: -40vw; 
   /* top: 70vh;
    right: 30vh;*/ 
    z-index: -100;      
}

#day-big-mountain {
    top: 20vh;
    left: -2000px; 
   /* top: 20vh;
    right: 40vw;*/ 
    z-index: -90;  
}

#day-small-mountain {
    top: 40vh;
    left: -1000px; 
   /* top: 40vh;
    right: 55vw;*/ 
    z-index: -70;  
}

#day-lake {
    top: 1000px;
    left: 0; 
    right: 0;
    transform: scale(1.2);
   /* top: 70vh;
    */ 
    z-index: -80;  
}

#day-sakura-island {
    top: 1000px;
    right: -10vw;
   /* top: 30vh;
    */ 
    z-index: -70;  
}


