@use '../util/' as u;

.bg {
    position: absolute;
}

//With this I give to the browser more information
@property --_color-top {
    syntax: "<color>";
    inherits: true;
    initial-value: var(--dark-blue);
}

@property --_color-medium {
    syntax: "<color>";
    inherits: true;
    initial-value: var(--deep-blue);
}

@property --_color-bottom {
    syntax: "<color>";
    inherits: true;
    initial-value: var(--deep-blue);
}

.bg-color { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-image: linear-gradient(180deg, var(--_color-top) 0%, var(--_color-medium) 35%, 
                                        var(--_color-bottom) 80%);
    z-index: -200;

    //***This option was not viable because GSAP does not animate background-position
    // background-size: 100% 300%;
    // background-position: top;
    // transition: background-position 1000ms ease-in-out;
}

#stars-bg {
    width: 100vw;
    position: fixed;
    inset: 1rem;
    z-index: -100;
    @include u.media(){
        width: 150svh;
        max-width: unset;
        inset: 0;
        transform: rotate(360deg);
    }
}

#stars2-bg {
    top: -50vh;
    scale: 0.5;
    opacity: 0;
    z-index: -100;
    @include u.media(){
        width: 150svh;
        max-width: unset;
        transform: rotate(360deg);
    }
}

#moon {
    position: fixed;
    height: 40vh;
    top: 20vh;
    right: 35%;
    z-index: -90;
    @include u.media() {
        top: 33vh;
        right: -10%;
    }
}

#moon2 {
    height: 40vh;
    transform: scale(2.5);
    top: -35vh;
    right: -40%;
    z-index: -90;
    @include u.media(){
        display: none;
}
}

#night-big-mountain {
    transform-origin: top;
    transform: scale(1.1);
    top: 15vh;
    left: 17%;
    z-index: -80;
    @include u.media(){
        display: none;
}
}

#night-small-mountain {
    transform-origin: top;
    height: 45vh;
    top: 35%;
    right: 58vw;
    z-index: -50;
    @include u.media(){
        display: none;
}
}

#night-sakura {
    height: 15rem;
    top: 60vh;
    right: -2rem;
    z-index: -50;
    @include u.media(){
        display: none;
}
}

#night-lake {
    width: 100vw;
    left: 0;
    top: 68vh;
    z-index: -60;
    @include u.media(){
        display: none;
}   
}

#top-stars {
    width: 100vw;
    top: -25vh;
    left: 0;
    right: 0;  
    opacity: 0;
    z-index: -100;  
}

#sun {
    bottom: -8vh;
    right: 8vw; 
    z-index: -100;
    @include u.media(){
        inset: 0;
        left: 60%;
        top: 60vh;
}      
}

#day-big-mountain {
    top: 35vh;
    left: -20%; 
    z-index: -90;
    @include u.media(){
        height: 80vh;
        max-width: unset;
        object-fit: contain;
        inset: 0;
        top: 45vh;
        left: -300%;
}  
}

#day-small-mountain {
    bottom: 8vh;
    left: -40%; 
    z-index: -70;
    @include u.media(){
        height: 40vh;
        max-width: unset;
        object-fit: contain;
        inset: 0;
        top: 60vh;
        left: -40%;
}  
}

#day-lake {
    width: 100vw;
    bottom: -7.5rem;
    left: 0; 
    transform: scale(1.2) rotateX(50deg);
    opacity: 0;
    z-index: -80;
    @include u.media(){
        display: none;
}  
}

#day-sakura-island {
    transform: scale(0.9);
    height: 85vh;
    bottom: 0;
    right: -20vw;
    z-index: -70;  
    @include u.media(){
        display: none;
}
}



