@use '../util/' as u;

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    line-height: 1.4;
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--deep-blue);
    
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

body::-webkit-scrollbar {
    display: none;
}

section {
    min-height: 100vh;
    position: relative;
    
    @include u.media(500px){
        overflow-x: hidden;
    }
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}
