@use '../util/' as u;

.nav {
    position: fixed;
    top: 2rem; 
    right: 10%;
    z-index: 100;
    
    &__list {
        display: flex;
        gap: 6rem;
    }
}

.nav__item {
    @include u.regular-font(var(--fz-200), var(--fw-regular), var(--off-white), 0);
    text-transform: uppercase;
}

.nav__item.current-page {
    font-weight: var(--fw-bold);
    color: var(--light-blue);
    text-decoration: underline;
    text-underline-offset: 0.3rem;//TEMPORAL STYLE
}

.nav__item:hover {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}
