@use '../util/' as u;

.card {

    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 1.2rem;
    @include u.media (){
        grid-template-columns: 1fr;
    }

    &__mockup{
        //height: 20rem;
        object-fit: contain;
        align-self: center;
        justify-self: center;
    }
    
    &__title {
        @include u.regular-font(var(--fz-500), var(--fw-extrabold), var(--light-gray), 2px);
        text-transform: capitalize;
        text-align: left;
        margin-bottom: 1.2rem;
    }

    &__content {
        display: grid;
        grid-template-columns: 1.3fr 0.7fr;
        @include u.media (){
            grid-template-columns: 1fr;
        }
        gap: 2rem;
    }

    &__subtitle {
        @include u.regular-font(var(--fz-300), var(--fw-light), var(--white), 2px);
        font-style: italic;
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        margin-bottom: 1rem;
    }

    &__description {
        @include u.regular-font(var(--fz-200), var(--fw-light), var(--white), 1px);
        line-height: 1.5rem;
    }

    &__tech {
        display: flex;
        flex-wrap: wrap;
        gap: 0.8rem;
    }

    &__tech-tool {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.3rem;
    }

    &__icon-text {
        @include u.regular-font(var(--fz-100), var(--fw-light), var(--white), 1px);
    }

    .link-wrapper,
    .card__link {
        display: flex;
    }

    .link-wrapper {
        margin: 1rem 0;
        gap: 2.5rem;
    }

    &__link {
        gap: 0.6rem;
        align-items: center;
        @include u.regular-font(var(--fz-400), var(--fw-bold), var(--white), 0px);

        img {
            height: 1.2rem;
            object-fit: contain;
        }
    }

    &__link-text {
        margin-bottom: 3px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    &__link-line {
        height: 4px;
        width: 100%;
        background-image: linear-gradient(90deg, var(--white) 50%, rgba(0, 0, 0, 0) 50%);
        background-size: 200%;
        background-position: 50%;
        transition: background-position 300ms;
    }
    
    &__link-text:hover > &__link-line {
        background-position: 0%;
    }
}

#space {
    grid-column: 1 / -1;
    flex-direction: row;
    grid-template-columns: 0.8fr 1fr 0.3fr;
    gap: 3.5rem;
    row-gap: 1.2rem;
}

#pixel {
    grid-row: 2 / 4;
    grid-template-columns: 1fr;
}

//width and background
.card {
    border-radius: 25px;
    padding: 2.5rem 3rem;
    border: 5px solid rgba(180, 180, 180, 0.658);
    @include u.media (){
        padding: 1.5rem 1.5rem;
    }

    background-color: rgba(104, 104, 104, 0.173);
    backdrop-filter: blur(4px);
}
