@use '../util/' as u;

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.7rem;
    
    &__title {
        @include u.regular-font(var(--fz-500), var(--fw-extrabold), var(--light-gray), 2px);
        text-transform: capitalize;
        text-align: center;
    }

    &__content {
        display: grid;
        grid-template-columns: 1.3fr 0.7fr;
        @include u.media (){
            grid-template-columns: 1fr;
        }
        gap: 2rem;
    }

    &__subtitle {
        @include u.regular-font(var(--fz-300), var(--fw-light), var(--white), 2px);
        font-style: italic;
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        margin-bottom: 1rem;
    }

    &__description {
        @include u.regular-font(var(--fz-200), var(--fw-light), var(--white), 1px);
        line-height: 1.5rem;
    }

    &__tech {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 0.5rem;
    }

    &__tech-tool {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.3rem;
    }

    &__icon-text {
        @include u.regular-font(var(--fz-100), var(--fw-light), var(--white), 1px);
    }

    .link-wrapper,
    .card__link {
        display: flex;
    }

    .link-wrapper {
        margin: 1rem 0;
        gap: 2.5rem;
    }

    &__link {
        gap: 0.6rem;
        align-items: center;
        @include u.regular-font(var(--fz-400), var(--fw-bold), var(--white), 0px);

        img {
            height: 1.2rem;
            object-fit: contain;
        }
    }

    &__link-text {
        margin-bottom: 3px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    &__link-line {
        height: 4px;
        width: 100%;
        background-image: linear-gradient(90deg, var(--white) 50%, rgba(0, 0, 0, 0) 50%);
        background-size: 200%;
        background-position: 50%;
        transition: background-position 300ms;
    }
    
    &__link-text:hover > &__link-line {
        background-position: 0%;
    }
}

//width and background
.card {
    width: 60%;
    max-width: 800px;
    height: fit-content;
    border-radius: 25px;
    padding: 1.5rem 3rem;
    @include u.media (){
        width: 100%;
        padding: 1.5rem 1.5rem;
    }

    background-color: radial-gradient();
    background: radial-gradient(circle at top right, rgba(94, 94, 94, 0.307), transparent);
    backdrop-filter: blur(20px);
}

.project:nth-child(odd) > .card{
    background: radial-gradient(circle at top left, rgba(94, 94, 94, 0.307), transparent);
}

.project + .project > .card {
    width: 40%;
    max-width: 500px;
    @include u.media (){
        width: 100%;
    }
}

.card__tech-tool:nth-child(5) {
    grid-column: span 2;
}