::-webkit-scrollbar {
    width: 1px;
    height: 1px;
    background-color: transparent;
}

::-webkit-scrollbar-track { 
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent; 
}

::-webkit-scrollbar-thumb:hover {
    background: transparent; 
}