@use '../util/' as u;

.contact {
    display: grid;
    place-items: center;

    &__wrapper {
        width: min(90vw, 26rem);
        border-radius: 30px;
        background-color: hsl(0, 0%, 64%, 0.25);  
        backdrop-filter: blur(1rem);      
        box-shadow: 0 0 20px 1px hsl(0, 0%, 100%, 0.36);

    
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        @include u.regular-font(var(--fz-500), var(--fw-bold), var(--white), 1px);
        text-transform: capitalize;
        margin-block: 1.2rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-inline: min(3rem, 5vw);
    }

    label {
        @include u.regular-font(var(--fz-300), var(--fw-bold), var(--white), 1px);
        margin-bottom: 0.2rem;
    }

    input {
        @include u.regular-font(var(--fz-200), var(--fw-regular), var(--dark-blue), 1px);
        margin-bottom: 1rem;
        padding: 0.4rem 0.6rem;
        background-color: hsl(0, 0%, 100%, 0.36);
    }

    textarea {
        @include u.regular-font(var(--fz-200), var(--fw-regular), var(--dark-blue), 1px);
        padding: 0.4rem 0.6rem;
        resize: none;
        height: 8rem;
        background-color: hsl(0, 0%, 100%, 0.36);

        -ms-overflow-style: none;  
        scrollbar-width: none; 
    }

    textarea::-webkit-scrollbar {
        display: none;
    }

    *::placeholder {
        color: var(--gray);
    }

    &__btn {
        @include u.regular-font(var(--fz-300), var(--fw-bold), var(--white), 1px);
        margin-top: 1.5rem;
        width: fit-content;
        align-self: center;
        padding: 0.7rem 3.5rem;
        border-radius: 10px;
        background-image: linear-gradient(110deg, var(--purple) , var(--orange), var(--purple));
        background-size: 200%;
        background-position: left;
        transition: background-position 300ms;
        cursor: pointer;
    }

    &__btn:hover {
        background-position: right;
    }

    &__btn:focus {
        transform: scale(0.95);
    }

    &__divider {
        margin-block: 1.4rem;
    }

    &__links {
        display: flex;
        gap: 2rem;
    }

    &__link-text{
        @include u.regular-font(var(--fz-300), var(--fw-regular), var(--off-white), 1px);
    }

    &__nav-list {
        display: flex;
        gap: 0.6rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }

    &__nav-icon {
        height: 1.5rem;
        object-fit: contain;
        fill: var(--off-white);
    }
}

