@use '../util/' as u;

.contact {
    display: grid;
    place-items: center;

    &__wrapper {
        width: min(90vw, 30rem);
        border: 1px solid white;
        border-radius: 30px;

    
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        @include u.regular-font(var(--fz-600), var(--fw-bold), var(--white), 1px);
        text-transform: capitalize;
        margin-block: 2rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-inline: 3rem;
    }

    label {
        @include u.regular-font(var(--fz-400), var(--fw-bold), var(--white), 1px);
        margin-bottom: 0.4rem;
    }

    input {
        @include u.regular-font(var(--fz-300), var(--fw-regular), var(--dark-blue), 1px);
        margin-bottom: 1.2rem;
        padding: 0.4rem 0.8rem;
    }

    textarea {
        @include u.regular-font(var(--fz-300), var(--fw-regular), var(--dark-blue), 1px);
        padding: 0.4rem 0.8rem;
    }

    *::placeholder {
        color: var(--gray);
    }

    &__btn {
        @include u.regular-font(var(--fz-400), var(--fw-bold), var(--white), 1px);
        margin-top: 2rem;
        width: fit-content;
        align-self: center;
    }

    &__divider {
        margin-block: 2rem;
    }

    &__links {
        display: flex;
        gap: 2rem;
    }

    &__link-text{
        @include u.regular-font(var(--fz-400), var(--fw-regular), var(--off-white), 1px);
    }

    &__nav-list {
        display: flex;
        gap: 0.6rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }

    &__nav-icon {
        height: 1.5rem;
        object-fit: contain;
        fill: var(--off-white);
    }
}

