@use '../util/' as u;

.introduction {
    width: fit-content;
    margin-left: 15vw;
    margin-top: 8vw;

    @include u.media() {
        margin-left: 4vw;
        margin-top: 30vw;
    }
    
    &__title{
        @include u.accent-font(var(--fz-700), var(--fw-bold), var(--white), -1px);
        @include u.media() {
            line-height: 1.2;
        }
        margin-bottom: 1rem;
    }

    &__subtitle{
        @include u.accent-font(var(--fz-500), var(--fw-regular), var(--off-white), 2px);
        font-style: italic;
    }
}

.scroll {
    position: absolute;
    bottom: max(13vw, 12rem);
    left: 50%;
    translate: -50%;
    @include u.media() {
        bottom: 15vh;
    }

    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    animation: scroll 2000ms ease-in-out alternate infinite;

    &__text {
        @include u.regular-font(var(--fz-500), var(--fw-regular), var(--light-gray), 0);
        text-transform: uppercase;
    }

    img {
        height: 1.6rem;
        object-fit: contain;
    }
}

@keyframes scroll {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(15px);
    }
}