@use '../util/' as u;

.introduction {
    width: fit-content;
    margin-left: 15vw;
    margin-top: 8vw;
    
    &__title{
        @include u.accent-font(var(--fz-700), var(--fw-bold), var(--white), -1px);
    }

    &__subtitle{
        @include u.accent-font(var(--fz-500), var(--fw-regular), var(--off-white), 2px);
        font-style: italic;
    }
}

.scroll {
    position: absolute;
    bottom: max(13vw, 12rem);
    left: 50%;
    translate: -50%;

    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    &__text {
        @include u.regular-font(var(--fz-500), var(--fw-regular), var(--light-gray), 0);
        text-transform: uppercase;
    }

    img {
        height: 1.6rem;
        object-fit: contain;
    }
}