@use '../util/' as u;

#project {
    padding-inline: 10vw;
    margin-bottom: 25vh;
    @include u.media (){
        margin-bottom: 15vh;
        padding-inline: 1rem;
    }

    display: flex;
    flex-direction: column;
    align-items: center;

}

.project {
    &__grid {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: 0.9fr 1.1fr;
        gap: 0.7rem;
        @include u.media (){
            grid-template-columns: 1fr;
        }
    }

    &__header {
        align-self: flex-start;
    }
    
    &__title {
        @include u.accent-font(var(--fz-700), var(--fw-bold), var(--white), 1px);
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        @include u.media (){
            font-size: 3.4rem;
        }
    }

    &__subtitle {
        @include u.accent-font(var(--fz-500), var(--fw-regular), var(--off-white), 1px);        
    }
}
