@use '../util/' as u;

#project {
    padding-inline: 5vw;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.project {
    display: flex;
    gap: min(3vw, 3rem);

    margin: 5rem 0;

    &__header {
        align-self: flex-start;
    }
    
    &__title {
        @include u.accent-font(var(--fz-700), var(--fw-bold), var(--white), 1px);
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }

    &__subtitle {
        @include u.accent-font(var(--fz-500), var(--fw-regular), var(--off-white), 1px);        
    }

    &__image {
        height: 28rem;
        object-fit: contain;
    }
}

.project:nth-child(odd) {
    flex-direction: row-reverse;
}