:root {
    --dark-blue: hsl(241, 100%, 10%);
    --deep-blue: hsl(241, 67%, 26%);
    --light-blue: hsl(241, 100%, 93%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 100%, 0.74);
    --light-gray: hsl(0, 0%, 84%);
    --gray: hsl(0, 0%, 39%, 0.93);
    --lila: hsl(241, 84%, 74%);
    --orange: hsl(14, 77%, 56%);
    --yellow: hsl(61, 100%, 69%);
    --purple: hsl(295, 100%, 37%);
}
